body 
{
	background-color: #f5f5f5;
	color: blue;
	text-align: center;
	margin-top: 175px;
}

h1
{
	color: red;

}

span
{
	color: grey;
}

#summary
{
	 width: 30%;
    margin: 10px auto;
    border: black 1px solid;
    background-color: #00B294;
}

section{
    border: black 30px solid;
    width: 40%;
    margin: 10px auto;
    color: white;
    background-color: #00B294;
}